html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #121212;
    color: #9ea1f9;
}

#map {
    height: 50vh;
    width: 90vh;
    margin: 0 auto;
}

.info-window {
    color: inherit;
    font-family: inherit;
}
